<link rel="stylesheet" href="/assets/css/components/post-list.css">

<ol class="posts">
{%- for post in posts -%}
  <li>
		<pob-tile href="{{ post.url }}">
			<time class="post-date" datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
			<div class="post-details">
				<strong class="post-title">{{ post.data.title }}</strong>
				<div class="post-description">{{ post.data.description }}</div>
			</div>
		</pob-tile>
	</li>
{%- endfor -%}
</ol>
