:root {
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--page-background-color);
}

ol {
  padding: 0;
  counter-reset: index;
  list-style-type: none;

  li {
    display: block;

    &::before {
      counter-increment: index;
      content: counters(index, ".", decimal) " ";
    }
  }
}

ol ol {
  padding-left: 1rem;
}

article p:first-of-type::first-letter {
  float: left;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  font-size: 5rem;
  margin-top: 0.2rem;
  margin-right: 0.6rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-weight: 100;
  font-family: "Libre Baskerville";
}

@font-face {
  font-family: "Libre Baskerville";
  src:
    local("Libre Baskerville Regular"),
    local("Libre-Baskerville-Regular"),
    url("/assets/fonts/libre-baskerville/font.woff2") format("woff2"),
    url("/assets/fonts/libre-baskerville/font.woff") format("woff"),
    url("/assets/fonts/libre-baskerville/font.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
