@property --font-color {
  syntax: "<color>";
  inherits: true;
  initial-value: black;
}

@property --page-background-color {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}

:root {
	--font-color: hsl(0, 0%, 20%);
  --page-background-color: hsl(0, 0%, 96%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: hsl(0, 0%, 91%);
    --page-background-color: hwb(225 13% 86%);
  }
}
