@layer layout {
	.posts {
		display: grid;
		padding: 0;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;
		gap: 1rem;

		li {
			list-style-type: none;
			height: 100%;
		}
	}

	/* Post content styling */
	pob-tile {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.post-date {
		display: block;
		font-size: 0.875rem;
		opacity: 0.7;
		font-weight: 500;
	}

	.post-title {
		text-decoration: underline;
	}

	.post-details {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
}
