<!DOCTYPE html>
<html lang="en">
	{% include "./partials/_head.njk" %}
  <body>
    <pob-app
			id="app"
			current-year="{{ metadata.currentYear }}"
			author="{{ author | json_html }}"
			repository="{{ pkg.repository.url }}"
			source="{{ page.inputPath }}"
			branch="main"
			commit-sha="{{ metadata.commitSha }}"
			{% if pageType %} page-type="{{ pageType }}" {% endif %}
			{% if noSidebar %} no-sidebar="" {% endif %}>
			{% if pageType == 'article' %}
			<article {% if not excludeFromSearch %} data-pagefind-body="" {% endif %}>{{ content | safe }}</article>
			{% else %}
      <section {% if not excludeFromSearch %} data-pagefind-body="" {% endif %}>{{ content | safe }}</section>
			{% endif %}
			{% if not noSidebar %}
			<nav id="toc" slot="sidebar">
				<strong>On this page</strong>
			</nav>
			{% endif %}
    </pob-app>
		<script type="module" src="/assets/external/@lit-labs/ssr-client/lit-element-hydrate-support.js"></script>
		<script type="module" src="/assets/js/components/app.js"></script>
		<script type="module" src="/assets/js/components/note.js"></script>
		<script type="module" src="/assets/js/components/tile.js"></script>
  </body>
</html>
