---
layout: base.njk
pageType: article
---

<link rel="stylesheet" href="/assets/css/post.css">

<h1 data-pagefind-weight="10" data-pagefind-meta="title">{{ title }}</h1>
<time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
{%- if updatedDate %}
	<span class="updated">(Updated <time datetime="{{ updatedDate | machineDate }}">{{ updatedDate | readableDate }}</time>)</span>
{%- endif %}

{% if tags %}
	{% set displayTags = tags | except("post") %}
	{% if displayTags.length %}
		<div class="tags-list">
			{% for tag in displayTags %}
				<a href="/blog/tags/{{ tag }}/" class="tag">{{ tag }}</a>
			{% endfor %}
		</div>
	{% endif %}
{% endif %}

<hr/>

{{ content | safe }}
