@layer layout {
	#toc {
		position: sticky;
		top: 5rem;

		a {
			transition: opacity 0.2s ease;
		}

		a:hover {
			opacity: 0.7;
		}

		ol {
			padding: 0;
			counter-reset: index;
			list-style-type: none;

			li {
				display: block;

				&::before {
					counter-increment: index;
					content: counters(index, ".", decimal) " ";
				}
			}
		}

		ol ol {
			padding-left: 1rem;
		}
	}

	.tags {
		display: flex;
		margin-top: 1rem;
	}

	.tag {
		color: #333;
		background-color: #f0f0f0;
		display: inline-block;
		border-radius: 3px;
		padding: 5px 10px;
		font-size: 14px;
		text-decoration: none;
		transition: background-color 0.2s ease;
	}

	.tag + .tag {
		margin-left: 1ch;
	}

	.tag:hover {
		background-color: #e0e0e0;
	}

	@media (prefers-color-scheme: dark) {
		.tag {
			color: #ccc;
			background-color: #444;
		}

		.tag:hover {
			background-color: #555;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.tag {
			transition: none !important;
		}
	}

	.footnotes-list {
		padding: 0;
		margin-left: 1rem;
	}
}
