<head>
	<!-- Build date: {{ metadata.buildDate }} -->
	<script type="importmap">
	{{ externals.importMap | dump | safe }}
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="dark light">
	<title>
		{% if title %}
			{{ title }} | {{ author.name }}
		{% else %}
			{{ author.name }}
		{% endif %}
	</title>
	<meta name="description" content="{{ description }}">
	<meta name="generator" content="{{ eleventy.generator }}">
	<link rel="expect" href="#app" blocking="render">
	<link rel="stylesheet" href="/assets/css/global.css">
	<link rel="alternate" type="application/rss+xml" title="{{ author.name }} RSS Feed" href="/feed.rss">
	<link rel="alternate" type="application/atom+xml" title="{{ author.name }} Atom Feed" href="/feed.atom">
	<link rel="alternate" type="application/feed+json" title="{{ author.name }} JSON Feed" href="/feed.json">
	{% if pageType == 'article' %}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "BlogPosting",
		"headline": "{{ title }}",
		"description": "{{ description }}",
		"datePublished": "{{ page.date | machineDate }}",
		{%- if updatedDate %}
		"dateModified": "{{ updatedDate | machineDate }}",
		{%- endif %}
		"url": "{{ metadata.host }}{{ page.url }}",
		"author": {
			"@type": "Person",
			"name": "{{ author.name }}",
			"url": "{{ metadata.host }}"
		},
		"publisher": {
			"@type": "Person",
			"name": "{{ author.name }}",
			"url": "{{ metadata.host }}"
		},
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "{{ metadata.host }}{{ page.url }}"
		}
	}
	</script>
	{% endif %}
</head>
