<head>
	<!-- Build date: {{ metadata.buildDate }} -->
	<script type="importmap">
	{
		"imports": {
			"lit": "/assets/external/lit/index.js",
			"lit/": "/assets/external/lit/",
			"@lit/reactive-element": "/assets/external/@lit/reactive-element/reactive-element.js",
			"@lit/reactive-element/": "/assets/external/@lit/reactive-element/",
			"@lit-labs/ssr-dom-shim": "/assets/external/@lit-labs/ssr-dom-shim/index.js",
			"@lit-labs/ssr-client": "/assets/external/@lit-labs/ssr-client/index.js",
			"@lit-labs/ssr-client/": "/assets/external/@lit-labs/ssr-client/",
			"lit-element/": "/assets/external/lit-element/",
			"lit-html": "/assets/external/lit-html/lit-html.js",
			"lit-html/": "/assets/external/lit-html/"
		}
	}
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="color-scheme" content="dark light">
	<title>
		{% if title %}
			{{ title }} | {{ author.name }}
		{% else %}
			{{ author.name }}
		{% endif %}
	</title>
	<meta name="description" content="{{ description }}">
	<meta name="generator" content="{{ eleventy.generator }}">
	<meta name="fediverse:creator" content="{{ author.social.fediverse }}">
	<link rel="expect" href="#app" blocking="render">
	<link rel="stylesheet" href="/assets/css/global.css">
</head>
