---
excludeFromSearch: true
noSidebar: true
title: Blog
eleventyImport:
  collections: ["post"]
---

<link rel="stylesheet" href="/assets/css/blog.css">

<h2>Posts</h2>

<ol class="posts">
{%- for post in collections.post | reverse -%}
  <li>
		<article class="post card">
			<a href="{{ post.url }}">
				<time class="post-date" datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
				<div class="post-details">
					<strong class="post-title">{{ post.data.title }}</strong>
					<div class="post-description">{{ post.data.description }}</div>
				</div>
			</a>
		</article>
	</li>
{%- endfor -%}
</ol>
