---
excludeFromSearch: true
noSidebar: true
title: Blog
eleventyImport:
  collections: ["post"]
---

<h1>Posts</h1>

<ul>
{%- for post in collections.post | reverse -%}
  <li{% if page.url == post.url %} aria-current="page"{% endif %}>
		<a href="{{ post.url }}">{{ post.data.title }}</a>
	</li>
{%- endfor -%}
</ul>
