---
title: Feed
noSidebar: true
---

To subscribe to this site's posts, I've provided various feed formats. Use the links below to subscribe to the feed of your choice:

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://cyber.harvard.edu/rss/rss.html" target="_blank">RSS</a></td>
      <td><a href="/feed.rss" target="_blank">{{ metadata.host }}/feed.rss</a></td>
    </tr>
    <tr>
      <td><a href="https://www.jsonfeed.org/" target="_blank">JSON</a></td>
      <td><a href="/feed.json" target="_blank">{{ metadata.host }}/feed.json</a></td>
    </tr>
    <tr>
      <td><a href="https://datatracker.ietf.org/doc/html/rfc4287" target="_blank">Atom</a></td>
      <td><a href="/feed.atom" target="_blank">{{ metadata.host }}/feed.atom</a></td>
    </tr>
  </tbody>
</table>