---
noSidebar: true
excludeFromSearch: true
---

<link rel="stylesheet" href="/assets/css/index.css">

<div class="home-container">
  <header style="display: none;" class="home-header">
    <h2>Patrick O'Brien</h2>
  </header>

  {% set latestPost = collections.post | last %}
  <pob-tile href="{{ latestPost.url }}" style="--tile-padding: 2rem;">
    <time class="post-date" datetime="{{ latestPost.date | machineDate }}">{{ latestPost.date | readableDate }}</time>
    <div class="details">
      <strong>{{ latestPost.data.title }}</strong>
      <div>{{ latestPost.data.description }}</div>
    </div>
  </pob-tile>
</div>
