---
layout: base.njk
title: Search
excludeFromSearch: true
---

<h1>Search</h1>

<div id="search"></div>
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<script type="module">
			new PagefindUI({ element: "#search", showSubResults: true });
</script>
